<html>
  <head>
   <title>My first website in linux</title>
   <link rel="stylesheet" href={{url_for('static',filename='home.css')}}>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
      <header>
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <h1>sefiamor enterprise</h1>
      </header>
      <hr>
    </div>
    <section>
		
		<p>
			<h2>We help in the creation of</h2>
			<ul>
			   <li>websites</li>
			   <li>flyers</li>
			   <li>business cards</li> 
			   <li>wedding cards</li>
			   <li>and many more</li>
			</ul>
		</p>
    </section>
    <div>
     <footer class="footer">
       <p>This website is created by sefiamor</p>
       <p>copyright&copy 2019 All right reserved sefiamor.com</p>
     </footer>
    </div>
  </body>
</html>
