<html>
  <head>
   <title>My first website in linux</title>
   <link rel="stylesheet" href={{url_for('static',filename='style.css')}}>
     </head>
  <body>
    <div class="container">
      <h1>LOGIN FORM</h1>
      <div class="login_page">
        <p>username</p>
        <input type="text" name="" placeholder="username" ><br>
        <p>password</p>
        <input type="password" name="" placeholder="password" ><br>
         <a href="home"> <input type="submit" name="submit" value="submit"></a>
      </div>
      <a href="#">Forget your password!</a><br><br>
      <a href="#">create an account!</a>
    </div>
  </body>
</html>
